body {   
    list-style-position: inside;
    text-align: center;
}
h1 {
    color:crimson;
}
h2 {
    color:darkmagenta;
}
h4 {
    color:darkorange;
}
a{
    margin: 5px;
}
.align-text-left{
    text-align: left;
    padding-left: 10px;
}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        
}
